<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>
<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">

            <!-- Display product image and an anchor link. The anchor link allows user to click to the image to open new tab to show the image in another tab -->
            <div class="product-image">
                <a v-bind:href="image" target="_blank"><img v-bind:src="image" v-bind:alt="altText" v-bind:href="image"></a>
            </div>

            <div class="product-info">
                <h1>{{ title }}</h1>
                <!-- <span v-if="onSale">On Sale!</span> -->

                <!-- <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                <p v-else :class="{ outOfStock: !inStock}">Out of Stock</p> -->

                <p v-if="inStock">In Stock</p>
                <p v-else :class="{ outOfStock: !inStock}">Out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="(variant, index) in variants" 
                    :key="variant.variantId"
                    :style="{ backgroundColor: variant.variantColor}"
                    class="color-box"
                    @mouseover="updateProduct(index)">
                </div>

                <div>
                    <p>Sizes: </p>
                    <ul v-for="size in sizes" :key="size.sizeId">
                        <li>{{ size.size }}</li>
                    </ul>
                </div>

                <div>
                    <button @click="addToCart"
                            :disabled="!inStock"
                            :class="{ disabledButton: !inStock }">Add to Cart</button>
                </div>
                
                <div>
                    <button @click="removeFromCart">Remove from Cart</button>
                </div>

                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>